.language-switcher {
  display: inline-flex;
  align-items: center;

  button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    color: var(--darkgray);

    &:hover {
      color: var(--secondary);
    }

    .current-language {
      font-size: 1.1rem;
    }
  }
}
