@use "../../styles/variables.scss" as *;

.language-switcher {
  display: inline-flex;
  align-items: center;

  button {
    background: transparent;
    border: none;
    cursor: pointer;
    color: var(--darkgray);
    margin: 0 8px;

    &:hover {
      color: var(--secondary);
    }

    .current-language-zh {
      font-size: 0.9rem;
      line-height: 0.8rem;
    }

    .current-language-en {
      font-size: 0.7rem;
      line-height: 0.75rem;
      letter-spacing: -0.05rem;
    }

    @media all and ($mobile) {
      margin: 0;
    }
  }
}
