@use "./base.scss";

// put your custom CSS here!

// Custom Variables
:root {
  --main-font: "New York", Georgia,"Times New Roman", "Heiti TC",  Times, serif;
  --base-font-size: 1.125rem;
  --heading-font-weight: 700;
}

// Base Styles
body {
  font-family: var(--main-font);
  font-size: var(--base-font-size);
  color: rgb(86, 82, 118);
}

h1, h2, h3 {
  font-family: var(--main-font);
  margin-bottom: 0.5rem;
}

// Typography
h1 {
  font-size: 2.4em;
  font-weight: 900;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 2em;
  font-weight: 400;
  color: rgb(208,132,108);
  margin-top: 2rem;
}

h3 {
  font-size: 1.5em;
  font-weight: 700;
  color: #31748f;
  margin-top: 1.3rem;
}

p, li {
    line-height: 1.8;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

ul {
    margin: 0rem;
}

// Links and Accents
a {
  color: rgb(101, 146, 157);
  text-decoration: none;
  transition: color 0.2s ease;
  font-weight: 400;
  
  &:hover {
    color: #DD7F67;
  }
}

// Custom Elements
.tag {
  border-radius: 2px;
  padding: 2px 6px;
  background-color: rgba(12, 159, 206, 0.1);
  color: rgb(101, 146, 157);
}

// Dark Mode
:root[saved-theme=dark]{
  
  .card {
    background-color: rgba(35, 38, 52, 0.8);
  }
  
  a {
    color: rgb(101, 146, 157);
    
    &:hover {
      color: rgb(62, 120, 157);
    }
  }

  h2 {
    color: rgb(101, 146, 157);
  }
}
